
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
# Comment in the public line in if your project uses Gatsby and not Next.js
# Dependency directories
# Diagnostic reports (https://nodejs.org/api/report.html)
# DynamoDB Local files
# FuseBox cache
# Gatsby files
# Logs
# Mac OS
# Microbundle cache
# Next.js build output
# Nuxt.js build / generate output
# Optional REPL history
# Optional eslint cache
# Optional npm cache directory
# Optional stylelint cache
# Output of 'npm pack'
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Snowpack dependency directory (https://snowpack.dev/)
# Supabase
# TernJS port file
# VS Code IDE
# Yarn Integrity file
# debug
# dependencies
# dotenv environment variables file
# env files (can opt-in for committing if needed)
# misc
# next.js
# parcel-bundler cache (https://parceljs.org/)
# production
# public
# serverless directories
# testing
# typescript
# vercel
# vuepress build output
*.log
*.pem
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
.DS_Store
.cache
.cache/
.dynamodb/
.env
.env*
.env.local
.env.production
.env.test
.eslintcache
.fusebox/
.next
.node_repl_history
.npm
.nuxt
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.tern-port
.vercel
.vscode/
.vuepress/dist
.yarn-integrity
.yarn/*
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
dist
jspm_packages/
lerna-debug.log*
logs
next-env.d.ts
node_modules/
npm-debug.log*
out
pids
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
supabase/.temp/
supabase/functions/*/.env
supabase/functions/*/node_modules/
web_modules/
yarn-debug.log*
yarn-error.log*
